@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Merienda&family=Sacramento&display=swap');
html body {
    font-size: 16px;
    line-height: 30px;
    font-family: sans-serif;
    box-shadow: 0 0 30px #333;
    padding: .5em;
    margin: 0 auto;
    color: #964130;
}

h1 {
    font-style: italic;
    color: #964130;
    text-align: center;
    padding: .5em;
}

h2 {
    margin-left: 15px;
    color: #964130;
}

#content {
    width: 600px;
    margin: 0 auto;
    background-color: #EFE6DD;
    padding: .5em;
    border-radius: 10px;
    margin: 0 auto;
}

.myimg {
    float: right;
    width: 175px;
    height: 200px;
    box-shadow: 0 0 8px #333;
    padding: .3em;
}

li {
    text-align: left;
}

header {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 600px;
    box-shadow: 0 0 8px #333;
}

footer {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 600px;
    box-shadow: 0 0 8px #333;
}

hr {
    width: 600px;
    box-shadow: 0 0 8px #333;
}

#currentdate {
    color: #4b7;
}