@import url('https://fonts.googleapis.com/css?family=Calligraffitti|IM+Fell+English:400i|IM+Fell+Great+Primer:400i|Lato:100i&display=swap');
body {
    font-size: 16px;
    font-family: cursive;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    font-family: 'Calligraffitti', cursive;
}

h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

header,
footer {
    background-color: #006287;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}

footer {
    flex: 0 1 100%;
    border-radius: 0 0 10px 10px;
}

nav {
    background-color: #9e9ea018;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: rgb(5, 3, 3);
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    display: block;
    font-size: 0.95rem;
}

p {
    margin: .5px;
    padding: 2px;
    font-family: 'Lato', sans-serif;
}

nav a:hover {
    background-color: #dddddd;
    color: #209cee;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    box-shadow: 0 2px 15px gray;
    background-color: #FAFAFA;
    border-radius: 6px;
}

td,
th,
tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.colors td {
    height: 3em;
}

.primary {
    background-attachment: #F0F0F0;
}

.secondary {
    background-color: #003F62;
}

.accent1 {
    background-color: #DDDDDD;
}

.accent2 {
    background-color: #006287;
}

.accent3 {
    background-color: #232323;
}