body {
    font-size: 16px;
    font-family: cursive;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
}

header,
footer {
    background-color: #0086AD;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}

footer {
    flex: 0 1 100%;
    width: auto;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    background-color: #9e9ea018;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: rgb(5, 3, 3);
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    display: block;
    font-size: 0.95rem;
}

p {
    margin: .5px;
    padding: 2px;
}

nav a:hover {
    background-color: rgb(145, 149, 177);
    color: #209cee;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    box-shadow: 0 2px 15px gray;
    background-color: rgb(225, 243, 243);
    border-radius: 6px;
}