    @media only screen and (min-width: 35.5em) {
        .footer {
            width: 90%;
        }
        main {
            width: 95%;
        }
        .cards {
            display: grid;
        }
        section:nth-child(odd) {
            flex-direction: row-reverse;
        }
        section {
            display: flex;
            flex-direction: row;
            text-align: center;
        }
        img {
            width: 50%;
        }
        .star {
            margin-bottom: 30px;
            text-align: center;
        }
    }