    @media only screen and (min-width: 35.5em) {
        .footer {
            width: 90%;
        }
        main {
            width: 90%;
        }
        .cards {
            display: grid;
        }
        section:nth-child(odd) {
            flex-direction: row-reverse;
        }
        section {
            display: flex;
            flex-direction: row;
            text-align: center;
        }
        idmg {
            width: 80%;
            margin-left: 15px;
            margin-right: 15px;
        }
    }