main {
    margin: 0 auto;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

img {
    margin: 5vh auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .3);
    align-items: center;
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 400px;
}

img[data-src] {
    filter: blur(0.2em);
}