@media only screen and (min-width: 37.5em) {
    .footer {
        width: 90%;
    }
    main {
        width: 90%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section img {
        width: 90%;
    }
}