    /* Desktop Views ****************************/
    
    @media only screen and (min-width: 60em) {
        header img {
            width: 100px;
        }
        .headings h1 {
            font-size: 3rem;
        }
        .iconH4 {
            letter-spacing: 1.5pt;
            font-size: larger;
            margin-left: 17px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 22px;
        }
        p {
            margin: .5px;
            font-size: 20px;
        }
        nav ul {
            display: flex;
        }
        .navigation {
            display: flex;
        }
        nav ul li {
            flex: 1 1 100%;
        }
        nav a {
            font-size: 1rem;
        }
        .navigation li:first-child {
            display: none;
        }
        .navigation li {
            display: block;
            flex: 1 1 auto;
        }
        footer {
            width: 65%;
        }
        main {
            width: 65%;
        }
        .forecasttable th {
            background-color: #006287;
            height: 30px;
            width: 120px;
            color: white;
            text-align: center;
            border: 1px solid black;
        }
        .forecasttable td {
            border: 1px solid black;
            border-collapse: initial;
            height: 100px;
        }
        .forecasttable img {
            width: 90px;
            height: 70px;
            align-items: center;
        }
        table {
            border-collapse: collapse;
            margin: auto;
        }
        .forecastsection {
            display: contents;
            background-color: #78b7ce;
            border-radius: 10px;
        }
        .h4forecast {
            display: contents;
        }
        .bannerSection {
            position: absolute;
            padding: 1.5rem;
            top: 30px;
            left: 40px;
        }
        .bannerdiv img {
            height: 350px;
        }
        .artimg {
            width: 450px;
            height: 350px;
            float: right;
            box-shadow: 0 0 30px #111;
            top: -50px
        }
        .flex-item2 .prestonlocation {
            width: 70%;
        }
        .flex-item2 {
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
        /*--------------------Gallery---------------------------*/
        article:hover {
            box-shadow: 5px 5px 5px 5px rgb(143, 143, 143);
        }
        .star {
            margin-bottom: 35px;
            text-align: center;
        }
        .star img {
            margin: 0 auto;
            height: 350px;
            margin-right: 5px;
            margin-bottom: 15px;
            box-shadow: 5px 5px 5px rgb(69, 71, 73);
        }
        /*--------------------Index Cards---------------------------*/
        .ssectdiv {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .ssecdiv img {
            width: 80%;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            text-align: center;
        }
        .cards section {
            display: flex;
            text-align: center;
            flex-direction: column;
            overflow: hidden;
            padding: 5px;
        }
        .cards section:nth-child(odd) {
            flex-direction: column;
        }
        .cards section img {
            height: 270px;
        }
        .cards h2 {
            text-align: center;
        }
        .display {
            font-size: 17px;
            width: auto
        }
        /*-------------Event----------------*/
        .newCard {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
        .newCard p {
            font-size: 24px;
        }
    }