@media only screen and (min-width: 37.5em) {
    .boxes {
        background-color: #c7e0f4;
        align-items: center;
        color: black;
    }
    .footer {
        width: 80%;
    }
    p {
        font-size: 18px;
    }
    /**********************Location img***************************/
    .flex-item2 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .flex-item2 .prestonlocation {
        width: 80%;
    }
    /*************Lazy Loading*******************/
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*-----------------Card Index---------------------*/
    .cards {
        grid-gap: 15px;
    }
    .cards section:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .cards section {
        flex-direction: row;
        display: flex;
        text-align: center;
        overflow: hidden;
    }
    .star {
        margin-bottom: 20px;
        text-align: left;
    }
    .star img {
        float: left;
        margin-right: 10px;
        width: 50%;
    }
    .secdtdiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sectdiv img {
        overflow: hidden;
    }
    .display {
        font-size: 18px;
        width: 680px;
    }
    /*-------------Event----------------*/
    .newCard section {
        width: 100%;
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
    }
}