@media only screen and (min-width: 60em) {
    main {
        width: 80%;
    }
    .navlinks {
        width: 70%;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        display: flex;
        border-radius: 10px;
    }
    nav {
        width: 70%;
    }
    nav ul {
        display: flex;
        position: fixed;
        top: 74px;
        width: 70%;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav a {
        font-size: 10px;
    }
    .navlinks li:first-child {
        display: none;
    }
    .navlinks li {
        display: block;
        width: 10px;
        border-radius: 10px;
    }
    footer {
        width: 80%;
    }
}