@media only screen and (min-width: 60em) {
    main {
        width: 80%;
    }
    nav ul {
        display: flex;
    }
    .navigation {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav a {
        font-size: 10px;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    footer {
        width: 80%;
    }
    .cards {
        text-align: center;
    }
    section {
        background-color: rgb(22, 82, 150);
    }
}