@import url('https://fonts.googleapis.com/css?family=Amiri|Crimson+Text|EB+Garamond|Jost|Patrick+Hand&display=swap');
h1 {
    font-style: italic;
    font-family: 'Patrick Hand';
    color: #964130;
    text-align: center;
}

h2 {
    background-color: #7EBDC2;
    color: #964130;
    margin-top: 1px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Patrick Hand';
    padding: .5em;
}

section p,
section a {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
    line-height: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

section img {
    width: 200px;
    align-items: center;
    height: 480px;
}

main {
    margin: 0 auto;
    padding: .2em;
    text-align: center;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 0 5px #333;
}

header {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 100%;
    box-shadow: 0 0 8px #333;
    height: 160px;
}

#content {
    width: fit-content;
    margin: 0 auto;
    background-color: #EFE6DD;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
}

footer {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 100%;
    box-shadow: 0 0 8px #333;
}

#currentdate {
    color: #964130;
}

section:nth-child(1) {
    grid-template-columns: 1fr;
    text-align: center;
}

section:nth-child(2) {
    grid-template-columns: 2fr;
    text-align: center;
}

section:nth-child(3) {
    grid-template-columns: 3fr;
    text-align: center;
}


/* phone */

main {
    grid-template-columns: 1fr;
    max-width: 767px;
    margin: 0 auto;
    font-size: 0.8rem;
}

.visual-section {
    display: block;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
}


/* tablet view */

@media only screen and (min-width: 30.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 850px;
    }
    .visual-section {
        display: block;
    }
    .whitespace-section {
        grid-column: span 2;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: medium;
    }
    section img {
        width: fit-content;
    }
}


/* desktop view */

@media only screen and (min-width: 60em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 960px;
    }
    .whitespace-section {
        grid-column: span 1;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: large;
    }
}