@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Merienda&family=Sacramento&display=swap');
* {
    margin: 0 auto;
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

html body {
    font-size: 16px;
    font-family: sans-serif;
    box-shadow: 0 0 30px #333;
    padding: .5em;
    margin: 0 auto;
    color: #964130;
}

img {
    height: 600px;
    width: 250px;
}

h1 {
    font-style: italic;
    color: #964130;
    text-align: center;
}

h2 {
    text-align: center;
    color: #964130;
}

#content {
    width: 960px;
    margin: 0 auto;
    background-color: #EFE6DD;
    padding: 1em;
    text-align: center;
}

header {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 960px;
    box-shadow: 0 0 8px #333;
    height: 200px;
}

footer,
footer a {
    text-align: center;
    background-color: #7EBDC2;
    color: #964130;
    width: 960px;
    box-shadow: 0 0 8px #333;
}

#currentdate {
    color: #4b7;
}

p {
    font: sans-serif;
    width: 12px;
}

.design-proximity {
    grid-column: 1;
    text-align: center;
}

.visual-hierarchy {
    grid-column: 2;
    text-align: center;
}

.white-space {
    grid-column: 3;
    text-align: center;
}


/* Tablet view */

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(2) {
        display: block;
    }
    section:nth-last-child(3) {
        grid-column: span 2;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
}


/* desktop view */

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;
    }
}